.form-control {
    min-width: 100%;
    padding: 10px 0;
}

.form-control>label {
    display: block;
}

.form-control>input, .form-control>textarea {
    min-width: 100%;
    padding: 5px 10px;
    border: 1px solid grey;
    border-radius: 5px;
}

.form-control>textarea {
    min-height: 100px;
    resize: none;
}

input:focus, .form-control>textarea:focus {
    outline: 1px solid blueviolet;
}

.btn {
    background-color: unset;
    border: none;
    border-radius: 20px;
    padding: 10px;
    min-width: 100px;
    max-height: 37px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .1s;
    cursor: pointer;
    transition: background-color .2s;
}

.primary-btn {
    background-color: blueviolet;
    color: white;
}

.primary-btn:disabled {
    background-color: rgb(184, 146, 219);
}

.btn:disabled {
    cursor: not-allowed;
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    padding: 50px;
    box-shadow: 0px 3px 3px 3px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background-color: #fff;
}

.form>h1 {
    padding-bottom: 30px;
}

.danger-btn {
    background-color: red;
    color: white;
}

.danger-btn:hover {
    background-color: rgb(253, 81, 81);
}

.secondary-btn:hover {
    background-color: rgb(211, 210, 210);
}

.toggle {
    align-items: center;
    appearance: none;
    min-width: 50px;
    min-height: 20px;
    border: 1px solid grey;
    border-radius: 13px;
    cursor: pointer;
}

.toggle, .toggle::after {
    transition: background-color, transform .25s;
}

.toggle:checked {
    background-color: blueviolet;
}

.toggle::after {
    content: "";
    display: block;
    margin: 3px;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: blueviolet;
}

.toggle:checked::after {
    background-color: #fff;
    transform: translateX(26px);
}

.error-message {
    font-size: 0.7rem;
    display: block;
    color: red;
}

.input__invalid {
    border: 1px solid red !important;
}